<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>It's my ass!</title>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="{% static 'js/vue1.js'%}"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <script src="{% static 'js/reqwest.js' %}">

    </script>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}"/>
    <style type="text/css">
        .ui.right.floated.ui.primary.button{
          margin-right: 0.3em;
          margin-left: 0.25em;
        }
        .ui.inverted.basic.borderless.menu{
          margin: 0em 0em;
        }
        h1 {color: white}

        .asdfg {
        width: 50px;
        font-size: 50px;
        word-wrap: break-word;
        letter-spacing: 20px;
        }

    </style>
  </head>
  <body id="app" >
    {# <img class="ui fluid image"src="{% static 'images/a1.png'%}" >#}

    <!-- <div class="ui inverted vertical masthead left huge aligned segment">
          <h1 class="ui inverted header">
            <img src="{% static 'images/logo2.png' %}">
            学生信息管理系统
          </h1>
      </div> -->
    <div class="ui inverted  basic borderless segment menu">
        <div class="header item">
            <div class="ui header">
                <h1 style="font">学生信息管理系统</h1>
            </div>
        </div>
        <div class="right menu">
          <div class="item">
            <h5 class="ui inverted header">
              <span style="margin-right:20px;">{{ request.user.username }}</span>
              <div class="ui mini circular image">
                <img src="{% static 'images/anon.png'%}" alt="" />
              </div>
            </h5>
          </div>
          <div class="item">
            <a href="{% url 'logout' %}" class="ui inverted circular button">登出</a>
          </div>
        </div>
    </div>

    <div class="container">
      <div class="ui menu">

        <div class="item"><i class="database icon"></i></div>
          <div class="ui simple dropdown item">
            公告
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="{% url 'index'%}">公告</a>
              <a class="item" href="{% url 'edit_page' %}">编辑模式</a>
            </div>
          </div>
          <a class="item" href="{% url 'table_page'%}">课表查询</a>
          <div class="ui simple dropdown item">
            #作业
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item">#作业管理 </a>
            </div>
          </div>
          <a class="item" >#出勤查询</a>
          <a class="item" href="{% url 'aboutme'%}">关于本站</a>

        <div class="right menu">
          <div class="item">
              <a class="ui primary button" href="{% url 'register' %}">注册</a>
          </div>
        </div>

      </div>

      <div class="ui borderless segment menu">
        <table class="ui celled structured table">
          <thead>
            <tr>
              <th  class="center aligned" colspan="2">节次</th>
              <th  class="center aligned" rowspan="2">星期一</th>
              <th  class="center aligned" rowspan="2">星期二</th>
              <th  class="center aligned" rowspan="2">星期三</th>
              <th  class="center aligned" rowspan="2">星期四</th>
              <th  class="center aligned" rowspan="2">星期五</th>
            </tr>

          </thead>
          <tbody>

            <tr>
              <th rowspan="2" class="center aligned">上午</th>
              <td rowspan="1" class="center aligned" >第一第二节 <br></td>
              <td rowspan="1" class="center aligned" ></td>
              <td rowspan="1" class="center aligned" ></td>
              <td rowspan="1" class="center aligned" > C语言程序设计◇4-17(1,2节)◇4304（多媒体）◇徐丽蓉【无方向】
              </td>
              <td  rowspan="1" class="center aligned" > 电子商务概论◇1-10(1,2节)◇5302（多媒体）◇苏丽琴【无方向】
                  电子商务概论◇(A教学班)◇11-12(1,2节)◇营销管理实验室(7209)◇苏丽琴【无方向】
              </td>
              <td  rowspan="1" class="center aligned" > 常用工具软件技能训练◇1-16(1,2节)◇计算机基础实验室（十）（1316）◇程炳华【无方向】
              </td>
            </tr>

            <tr>
              <td  rowspan="1" class="center aligned" >第三第四节</td>
              <td  rowspan="1" class="center aligned" > 电子商务概论◇1-10(3,4节)◇5303（多媒体）◇苏丽琴【无方向】
              </td>
              <td  rowspan="1" class="center aligned" > C语言程序设计◇4-17(3,4节)◇4204（多媒体）◇徐丽蓉【无方向】
              </td>
              <td  rowspan="1" class="center aligned" > 计算机网络与通信◇1-6(3,4节)◇5303（多媒体）◇马丽芳【无方向】
                  C语言程序设计◇(A教学班)◇7-18(3,4节)◇计算机基础实验室（二）(A104)◇徐丽蓉【无方向】
              </td>
              <td  rowspan="1" class="center aligned" > 计算机系统基础Ⅰ◇1-10(3,4节)◇5303（多媒体）◇王君【无方向】
 电子商务概论◇(A教学班)◇11-12(3,4节)◇营销管理实验室(7209)◇苏丽琴【无方向】
              </td>
              <td  rowspan="1" class="center aligned" ></td>
            </tr>


            </tr>

            <tr>
              <th rowspan="2" class="center aligned" >下午</th>
              <td  rowspan="1" class="center aligned" >第五第六节</td>
              <td  rowspan="1" class="center aligned" > WEB程序设计◇1-6(5,6节)◇4102（多媒体）◇王池社【无方向】
                    计算机系统基础Ⅰ◇7-12(5,6节)◇5303（多媒体）◇王君【无方向】
              </td>
              <td  rowspan="1" class="center aligned" > WEB程序设计◇1-6(5,6节)◇5302（多媒体）◇王池社【无方向】
                 计算机网络与通信◇7-8(5,6节)◇5302（多媒体）◇马丽芳【无方向】
                 计算机网络与通信◇(A教学班)◇9-12(5,6节)◇计算机基础实验室（二）(A104)◇马丽芳【无方向】
              </td>
              <td  rowspan="1" class="center aligned" ></td>
              <td  rowspan="1" class="center aligned" > 计算机系统基础Ⅰ◇(A教学班)◇11-12(5,6节)◇计算机基础实验室（十）（1316）◇王君【无方向】
              </td>
              <td  rowspan="1" class="center aligned" > 计算机网络与通信◇1-12(5,6节)◇5302（多媒体）◇马丽芳【无方向】
              </td>
            </tr>

            </tr>

            <tr>
              <td  rowspan="1" class="center aligned" >第七第八节</td>
              <td  rowspan="1" class="center aligned" > WEB程序设计◇(A教学班)◇3-6(7,8节)◇计算机基础实验室（二   ）(A104)◇王池社【无方向】
                  计算机系统基础Ⅰ◇7-12(7,8节)◇5303（多媒体）◇王君【无方向】
              </td>
              <td  rowspan="1" class="center aligned" ></td>
              <td  rowspan="1" class="center aligned" ></td>
              <td  rowspan="1" class="center aligned" ></td>
              <td  rowspan="1" class="center aligned" ></td>
            </tr>




          </tbody>
        </table>
      </div>
      <br><br>
</div>



<script>
var vm = new Vue({
    el:"#app",
    data:{
      modal:{
        show:false,
        isLoading:false,
        title:'',
        url:'',
        content:'',
        msg:''
    },
      infos:[]
    },
    methods:{
      get_info:function () {
        var self = this;
        reqwest({
          url:"http://localhost:8000/api/article/?format=json",
          type:"json",
          method:"get",
          success:function (resp) {
            self.infos = resp
          }
        })
      },
      modalSwitch:function () {
            this.modal.show = !this.modal.show
      }
    },
    ready:function () {
      this.get_info()
    }
  })
</script>


  </body>
</html>
